<div class="card mb-4 shadow-sm">
  <img class="bd-placeholder-img card-img-top" width="100%" alt="product"
       src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmyBakYPNSiHc40GjAeg9et92KnqP3RVL1hA&usqp=CAU" />
  <div class="card-body">
    <p class="card-text">
      <strong>{{ 254 | currency: 'USD' }}</strong>
    </p>
    <p class="card-text">some text some text some text some text some text some text some text</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button class="btn btn-sm btn-primary product-btn" type="button">Add to cart</button>
        <button class="btn btn-sm btn-outline-secondary product-btn" type="button">View details</button>
      </div>
    </div>
  </div>
</div>
